div.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 50px;
  color: white;
  font-family: 'noto sans display', 'Courier New', Courier, monospace;
  font-size: smaller;
  height: 100vh;
}

div.close {
  display: flex;
  justify-content: right;
  align-self: center;

  span {
    padding: 0.5em 0.5em;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }
}

div.content {
  padding: 0.5em 0.5em;

  div.task-detail {
    background-color: #141414;
    border-radius: 3px;
    padding: 1em;
    font-family: 'noto sans display', Courier, monospace;
    font-weight: 600;
    color: white;
    display: grid;
    grid-template-columns: 35px auto 35px;
    input[type="checkbox"].done {
      margin-right: 1em;
      &:checked ~ label {
        text-decoration: line-through;
        opacity: 0.4;
      }
    }
    label {
      align-content: center;
    }
    input[type="checkbox"].done {
      /* Remove default checkbox appearance */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      /* Create a custom checkbox */
      width: 20px;
      height: 20px;
      border: 2px solid #ccc;
      border-radius: 12px;
      outline: none;
      transition: border-color 0.2s ease-in-out;
    }

    /* Style for checked checkbox */
    input[type="checkbox"].done:checked {
      border-color: #7082cc;
      background-color: #7082cc;
      border: 2px solid #7082cc;
    }

    /* Style for checked checkbox after element (checkmark) */
    input[type="checkbox"].done:checked::after {
      content: "\2714";
      font-size: 12px;
      color: #fff;
      position: relative;
      top: -1px;
      left: 3px;
    }

    input[type="checkbox"].important {
      /* Remove default checkbox appearance */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
    }

    input[type="checkbox"].important::before {
      content: "\2606";
      font-size: 28px;
      color: white;
      position: relative;
      top: -10px;
    }

    /* Style for checked checkbox after element (checkmark) */
    input[type="checkbox"].important:checked::before {
      content: "\2605";
      font-size: 28px;
      color: #7082cc;
      text-shadow: 0 0 1.7rem #91acff;
    }
  }

  div.description {
    margin-top: 1em;

    textarea {
      background-color: #141414;
      color: white;
      border: none;
      width: 100%;
      padding: 1em;
      font-family: 'noto sans display', 'Courier New', Courier, monospace;
      border: 1px solid transparent;

      &:focus {
        outline: none;
        color: white;
        border: 1px solid #ffffff1a;
      }
    }
  }

  div.duedate {
    padding-top: 2em;
    border-top: 1px solid #ffffff1a;
    label{
      padding: 1em;
    }

    input[type="date"], input[type="text"] {
      color-scheme: dark;
      background-color: #141414;
      color: white;
      border: none;
      width: 100%;
      padding: 1em;
      font-family: 'noto sans display', 'Courier New', Courier, monospace;
      border: 1px solid transparent;

      &:focus {
        outline: none;
        color: white;
        border: 1px solid #ffffff1a;
      }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      display:block;

  }


  }

  div.steps{

    div.add-step-span {
      cursor: pointer;
      background-color: #141414;
      display: flex;
      align-items: center;
      color: #7082cc;
      width: 100%;
      padding: 1em 1em;
      span {
        margin-right: 0.3em;
      }
    }
    div.add-step-input{
      display: grid;
      grid-template-columns: 50px  auto;
      background-color: #141414;
      height: 125%;
      span {
        align-self: center;
        justify-self: flex-end;
        opacity: 0.6;
      }
      input[type="text"].new-step {
        cursor: pointer;
        background-color: #141414;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 1em 1em;
        border: 1px solid transparent;
        width: 80%;
        &:focus{
          outline: none;
          // border-top: 1px solid #ffffff1a;
        }
      }
      input[type="checkbox"].step-done {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: red;
        border-radius: 50%;
        cursor: pointer;
        background-color: #141414;
        display: flex;
        align-self: center;
        justify-self: center;
        color: #fff;
        border: 1px solid #fff;
        width: 15px;
        height: 15px;
        &:focus{
          outline: none;
          border-top: 1px solid #ffffff1a;
        }
      }
      /* Style for checked checkbox */
      input[type="checkbox"].step-done:checked {
        border-color: #7082cc;
        background-color: #7082cc;
        border: 2px solid #7082cc;
      }

      /* Style for checked checkbox after element (checkmark) */
      input[type="checkbox"].step-done:checked::after {
        content: "\2714";
        font-size: 12px;
        color: #fff;
        position: relative;
        top: -3px;
        left: 1px;
      }
    }

    div.step{
      display: grid;
      grid-template-columns: 50px  auto;
      background-color: #141414;
      height: 125%;
      padding: 1em 1em;
      input[type="checkbox"].step-done {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: red;
        border-radius: 50%;
        cursor: pointer;
        background-color: #141414;
        display: flex;
        align-self: center;
        justify-self: center;
        color: #fff;
        border: 1px solid #fff;
        width: 15px;
        height: 15px;
        &:focus{
          outline: none;
          border-top: 1px solid #ffffff1a;
        }
      }
      /* Style for checked checkbox */
      input[type="checkbox"].step-done:checked {
        border-color: #7082cc;
        background-color: #7082cc;
        border: 2px solid #7082cc;
      }

      input[type="checkbox"].step-done:checked ~ label  {
        text-decoration: line-through;
        opacity: 0.4;
      }

      /* Style for checked checkbox after element (checkmark) */
      input[type="checkbox"].step-done:checked::after {
        content: "\2714";
        font-size: 12px;
        color: #fff;
        position: relative;
        top: -3px;
        left: 1px;
      }
      label {
        border-bottom: 1px solid #ffffff1a;
      }
    }
  }
}

div.footer {
  div.create-date {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      &:active {
        opacity: 0.5;
      }
    }
  }

  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: auto;
  border-top: 1px solid #ffffff1a;
}
