@if(task){
<div class="main">
  <div class="close">
    <span class="material-symbols-outlined" (click)="closeTodoDetail($event)">
      close
      </span>
  </div>
  <div class="content">
    <div class="task-detail">
      <input #taskInput type="checkbox" class="done" (change)="taskDoneTD($event)" [checked]="task.done" />
      <label for="">{{task.name}}</label>
      <input #taskInputImportant type="checkbox" class="important" title="Mark as important" (change)="taskImportantTD($event)" [checked]="task.important" />
    </div>
    <div class="duedate">
      <label>Add due date</label>
      <input name="duedate" type="date" title="Add due date" id="duedate" [(ngModel)]="task.dueDate"/>
    </div>
    <div class="description">
      <textarea name="description" placeholder="Add a note" id="description" [(ngModel)]="task.description" cols="30" rows="5"></textarea>
    </div>
  </div>
  <div class="footer">
    <div class="create-date">
      Created on {{task.date | date:'fullDate'}}
    </div>
    <div class="delete">
      <span class="material-symbols-outlined">
        delete
        </span>
    </div>
  </div>
</div>
}
