@if(task){
<div class="main">
  <div class="close">
    <span class="material-symbols-outlined" (click)="closeTodoDetail($event)">
      close
      </span>
  </div>
  <div class="content">
    <div class="task-detail">
      {{task.name}}
    </div>
  </div>
  <div class="footer">
    <div class="create-date">
      Created on {{task.date | date:'fullDate'}}
    </div>
    <div class="delete">
      <span class="material-symbols-outlined">
        delete
        </span>
    </div>
  </div>
</div>
}
