div.task {
  margin: 0em 0em 0.2em 1em;
  background-color: #2a2a2a;
  color: #7082cc;
  padding: 1em 1em;
  border-radius: 0.3em;
  font-family: 'noto sans display', Courier, monospace;
  font-weight: 600;
  color: white;
  &:hover {
    background-color: #363636;
  }
  input[type="checkbox"] {
    margin-right: 1em;
    &:checked ~ label {
      text-decoration: line-through;
    }
  }
}


div.task-contextmenu {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5em;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 2px solid rgba($color: #fff, $alpha: 0.1);
  background-color: #0909097c;
  ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li.delete{
      color: indianred !important;
    }
    li{
      span{
        padding-right: 0.5em;
      }
      cursor: pointer;
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 0.5em 1em;
      color: whitesmoke;
      &:hover {
        background-color: #363636;
        border-radius: 0.2em;
      }
    }
  }
}

// .animate__animated.animate__fadeInDown {
//   --animate-duration: 0.2s;
// }
